<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.trusteach.drv.mapper.booked.IWeekRecordMapper">

<cache flushInterval="10000" readOnly="true"></cache>

<!-- 
	private int id;
	private int IWeekNum;
	private int IWeek1Km1Num;
	private String IWeek1Km1Fp;
	private int IWeek1Km2Num;
	private String IWeek1Km2Fp;
	private int IWeek1Km3Num;
	private String IWeek1Km3Fp;
	private int IWeek2Km1Num;
	private String IWeek2Km1Fp;
	private int IWeek2Km2Num;
	private String IWeek2Km2Fp;
	private int IWeek2Km3Num;
	private String IWeek2Km3Fp;
	private int IWeek3Km1Num;
	private String IWeek3Km1Fp;
	private int IWeek3Km2Num;
	private String IWeek3Km2Fp;
	private int IWeek3Km3Num;
	private String IWeek3Km3Fp;
	private int IWeek4Km1Num;
	private String IWeek4Km1Fp;
	private int IWeek4Km2Num;
	private String IWeek4Km2Fp;
	private int IWeek4Km3Num;
	private String IWeek4Km3Fp;
	private int IWeek5Km1Num;
	private String IWeek5Km1Fp;
	private int IWeek5Km2Num;
	private String IWeek5Km2Fp;
	private int IWeek5Km3Num;
	private String IWeek5Km3Fp;
	private int IWeek6Km1Num;
	private String IWeek6Km1Fp;
	private int IWeek6Km2Num;
	private String IWeek6Km2Fp;
	private int IWeek6Km3Num;
	private String IWeek6Km3Fp;
	private int IWeek7Km1Num;
	private String IWeek7Km1Fp;
	private int IWeek7Km2Num;
	private String IWeek7Km2Fp;
	private int IWeek7Km3Num;
	private String IWeek7Km3Fp;
	private String CCheckOperator;
	private String CCheckDate;
	private int IChecked;
	private String CWeekRange;
 -->


<sql id="table">table_week_record</sql>
<sql id="pk">id</sql>
<sql id="likeCol">c_week_range</sql>
<sql id="colums">
id,i_week_num,c_check_operator,c_check_date,i_checked,c_week_range,
i_week1_km1_num,i_week1_km1_fp,i_week1_km2_num,i_week1_km2_fp,i_week1_km3_num,i_week1_km3_fp,
i_week2_km1_num,i_week2_km1_fp,i_week2_km2_num,i_week2_km2_fp,i_week2_km3_num,i_week2_km3_fp,
i_week3_km1_num,i_week3_km1_fp,i_week3_km2_num,i_week3_km2_fp,i_week3_km3_num,i_week3_km3_fp,
i_week4_km1_num,i_week4_km1_fp,i_week4_km2_num,i_week4_km2_fp,i_week4_km3_num,i_week4_km3_fp,
i_week5_km1_num,i_week5_km1_fp,i_week5_km2_num,i_week5_km2_fp,i_week5_km3_num,i_week5_km3_fp,
i_week6_km1_num,i_week6_km1_fp,i_week6_km2_num,i_week6_km2_fp,i_week6_km3_num,i_week6_km3_fp,
i_week7_km1_num,i_week7_km1_fp,i_week7_km2_num,i_week7_km2_fp,i_week7_km3_num,i_week7_km3_fp
 </sql>
<sql id="insertCols">
seq_week_record.nextval,#{IWeekNum},#{CCheckOperator},#{CCheckDate},#{IChecked},#{CWeekRange},
#{IWeek1Km1Num},#{IWeek1Km1Fp},#{IWeek1Km2Num},#{IWeek1Km2Fp},#{IWeek1Km3Num},#{IWeek1Km3Fp},
#{IWeek2Km1Num},#{IWeek2Km1Fp},#{IWeek2Km2Num},#{IWeek2Km2Fp},#{IWeek2Km3Num},#{IWeek2Km3Fp},
#{IWeek3Km1Num},#{IWeek3Km1Fp},#{IWeek3Km2Num},#{IWeek3Km2Fp},#{IWeek3Km3Num},#{IWeek3Km3Fp},
#{IWeek4Km1Num},#{IWeek4Km1Fp},#{IWeek4Km2Num},#{IWeek4Km2Fp},#{IWeek4Km3Num},#{IWeek4Km3Fp},
#{IWeek5Km1Num},#{IWeek5Km1Fp},#{IWeek5Km2Num},#{IWeek5Km2Fp},#{IWeek5Km3Num},#{IWeek5Km3Fp},
#{IWeek6Km1Num},#{IWeek6Km1Fp},#{IWeek6Km2Num},#{IWeek6Km2Fp},#{IWeek6Km3Num},#{IWeek6Km3Fp},
#{IWeek7Km1Num},#{IWeek7Km1Fp},#{IWeek7Km2Num},#{IWeek7Km2Fp},#{IWeek7Km3Num},#{IWeek7Km3Fp}
</sql>
<sql id="updateCols">
  i_week_num=#{IWeekNum},
  c_check_operator=#{CCheckOperator},
  c_check_date=#{CCheckDate},
  i_checked=#{IChecked},
  c_week_range=#{CWeekRange},
  i_week1_km1_num=#{IWeek1Km1Num},i_week1_km1_fp=#{IWeek1Km1Fp},
  i_week1_km2_num=#{IWeek1Km2Num},i_week1_km2_fp=#{IWeek1Km2Fp},
  i_week1_km3_num=#{IWeek1Km3Num},i_week1_km3_fp=#{IWeek1Km3Fp},
  
  i_week2_km1_num=#{IWeek2Km1Num},i_week2_km1_fp=#{IWeek2Km1Fp},
  i_week2_km2_num=#{IWeek2Km2Num},i_week2_km2_fp=#{IWeek2Km2Fp},
  i_week2_km3_num=#{IWeek2Km3Num},i_week2_km3_fp=#{IWeek2Km3Fp},
  
  i_week3_km1_num=#{IWeek3Km1Num},i_week3_km1_fp=#{IWeek3Km1Fp},
  i_week3_km2_num=#{IWeek3Km2Num},i_week3_km2_fp=#{IWeek3Km2Fp},
  i_week3_km3_num=#{IWeek3Km3Num},i_week3_km3_fp=#{IWeek3Km3Fp},
  
  i_week4_km1_num=#{IWeek4Km1Num},i_week4_km1_fp=#{IWeek4Km1Fp},
  i_week4_km2_num=#{IWeek4Km2Num},i_week4_km2_fp=#{IWeek4Km2Fp},
  i_week4_km3_num=#{IWeek4Km3Num},i_week4_km3_fp=#{IWeek4Km3Fp},
  
  i_week5_km1_num=#{IWeek5Km1Num},i_week5_km1_fp=#{IWeek5Km1Fp},
  i_week5_km2_num=#{IWeek5Km2Num},i_week5_km2_fp=#{IWeek5Km2Fp},
  i_week5_km3_num=#{IWeek5Km3Num},i_week5_km3_fp=#{IWeek5Km3Fp},
  
  i_week6_km1_num=#{IWeek6Km1Num},i_week6_km1_fp=#{IWeek6Km1Fp},
  i_week6_km2_num=#{IWeek6Km2Num},i_week6_km2_fp=#{IWeek6Km2Fp},
  i_week6_km3_num=#{IWeek6Km3Num},i_week6_km3_fp=#{IWeek6Km3Fp},
  
  i_week7_km1_num=#{IWeek7Km1Num},i_week7_km1_fp=#{IWeek7Km1Fp},
  i_week7_km2_num=#{IWeek7Km2Num},i_week7_km2_fp=#{IWeek7Km2Fp},
  i_week7_km3_num=#{IWeek7Km3Num},i_week7_km3_fp=#{IWeek7Km3Fp}

</sql>
<sql id="orderby">i_week_num</sql>


<resultMap type="BookedWeekRecordModel" id="resultMap">
   <id property="id" column="id"/>
   <result property="IWeekNum" column="i_week_num"/>
   <result property="CCheckOperator" column="c_check_operator"/>
   <result property="CCheckDate" column="c_check_date"/>
   <result property="IChecked" column="i_checked"/>
   <result property="CWeekRange" column="c_week_range"/>
   
   <result property="IWeek1Km1Num" column="i_week1_km1_num"/> <result property="IWeek1Km1Fp" column="i_week1_km1_fp"/>
   <result property="IWeek1Km2Num" column="i_week1_km2_num"/> <result property="IWeek1Km2Fp" column="i_week1_km2_fp"/>
   <result property="IWeek1Km3Num" column="i_week1_km3_num"/> <result property="IWeek1Km3Fp" column="i_week1_km3_fp"/>
   
   <result property="IWeek2Km1Num" column="i_week2_km1_num"/> <result property="IWeek2Km1Fp" column="i_week2_km1_fp"/>
   <result property="IWeek2Km2Num" column="i_week2_km2_num"/> <result property="IWeek2Km2Fp" column="i_week2_km2_fp"/>
   <result property="IWeek2Km3Num" column="i_week2_km3_num"/> <result property="IWeek2Km3Fp" column="i_week2_km3_fp"/>
   
   <result property="IWeek3Km1Num" column="i_week3_km1_num"/> <result property="IWeek3Km1Fp" column="i_week3_km1_fp"/>
   <result property="IWeek3Km2Num" column="i_week3_km2_num"/> <result property="IWeek3Km2Fp" column="i_week3_km2_fp"/>
   <result property="IWeek3Km3Num" column="i_week3_km3_num"/> <result property="IWeek3Km3Fp" column="i_week3_km3_fp"/>
   
   <result property="IWeek4Km1Num" column="i_week4_km1_num"/> <result property="IWeek4Km1Fp" column="i_week4_km1_fp"/>
   <result property="IWeek4Km2Num" column="i_week4_km2_num"/> <result property="IWeek4Km2Fp" column="i_week4_km2_fp"/>
   <result property="IWeek4Km3Num" column="i_week4_km3_num"/> <result property="IWeek4Km3Fp" column="i_week4_km3_fp"/>
   
   <result property="IWeek5Km1Num" column="i_week5_km1_num"/> <result property="IWeek5Km1Fp" column="i_week5_km1_fp"/>
   <result property="IWeek5Km2Num" column="i_week5_km2_num"/> <result property="IWeek5Km2Fp" column="i_week5_km2_fp"/>
   <result property="IWeek5Km3Num" column="i_week5_km3_num"/> <result property="IWeek5Km3Fp" column="i_week5_km3_fp"/>
   
   <result property="IWeek6Km1Num" column="i_week6_km1_num"/> <result property="IWeek6Km1Fp" column="i_week6_km1_fp"/>
   <result property="IWeek6Km2Num" column="i_week6_km2_num"/> <result property="IWeek6Km2Fp" column="i_week6_km2_fp"/>
   <result property="IWeek6Km3Num" column="i_week6_km3_num"/> <result property="IWeek6Km3Fp" column="i_week6_km3_fp"/>
   
   <result property="IWeek7Km1Num" column="i_week7_km1_num"/> <result property="IWeek7Km1Fp" column="i_week7_km1_fp"/>
   <result property="IWeek7Km2Num" column="i_week7_km2_num"/> <result property="IWeek7Km2Fp" column="i_week7_km2_fp"/>
   <result property="IWeek7Km3Num" column="i_week7_km3_num"/> <result property="IWeek7Km3Fp" column="i_week7_km3_fp"/>
   
</resultMap>


<select id="selectEqPk"  parameterType="String" resultType="BookedWeekRecordModel" resultMap="resultMap">
  select <include refid="colums"/> 
    from <include refid="table"/> 
  where <include refid="pk" /> = #{pObjPk}
</select>

<select id="count" resultType="int">
  select count(*) from <include refid="table"/>
</select>

<select id="selectLikePk" parameterType="String" resultType="ArrayList" resultMap="resultMap" >
   select <include refid="colums"/> 
    from <include refid="table"/>
   where <include refid="likeCol" /> like #{pStrRegexp}
</select>


<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
   select <include refid="colums"/> 
    from <include refid="table"/>
   where <include refid="pk" /> in
   <foreach item="pk" collection="list" open="(" separator="," close=")">
      #{pk}
   </foreach> 
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
   select <include refid="colums"/> 
    from <include refid="table"/>
   where <include refid="pk" /> not in
   <foreach item="pk" collection="list" open="(" separator="," close=")">
      #{pk}
   </foreach> 
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
  select <include refid="colums"/> 
  from <include refid="table"/> 
  <include refid="orderby"/>
</select>

<select id="select" resultType="ArrayList" resultMap="resultMap">
  select <include refid="colums"/>
  from <include refid="table"/>
   <trim prefix="where" prefixOverrides="and">
     <if test="model.id neq null">and id=#{model.id}</if> 
     <if test="model.IWeekNum neq null">and i_week_num=#{model.IWeekNum}</if>
  </trim>
</select>

<insert id="insertOne" >
   insert into <include refid="table"/> 
     ( <include refid="colums"/> ) values
     ( <include refid="insertCols"/>) 
</insert>

<update id="updateOne" flushCache="true" >
  update <include refid="table"/> set 
       <include refid="updateCols"/>
       where <include refid="pk" />=#{id}
</update>

<delete id="deleteInPk" flushCache="true">
   delete from <include refid="table"/> 
   where <include refid="pk" /> in
   <foreach item="pk" collection="list" open="(" separator="," close=")">
      #{pk}
   </foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
   delete from <include refid="table"/> 
   where <include refid="pk" /> not in
   <foreach item="pk" collection="list" open="(" separator="," close=")">
      #{pk}
   </foreach>
</delete>


<select id="selectEqWeekNum" parameterType="map" resultMap="resultMap">
    select <include refid="colums"/> 
    from <include refid="table"/> where i_week_num=#{model.IWeekNum}
</select>

</mapper>