<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
   <typeAlias type="com.smartken.kia.model.admin.MenuModel" alias="MenuModel"/>
   <typeAlias type="com.smartken.kia.model.admin.UserModel" alias="UserModel"/>
   <typeAlias type="com.smartken.kia.model.admin.DepartmentModel" alias="DepartmentModel"/>
</typeAliases>


<plugins>
	<plugin interceptor="com.smartken.kia.core.plugin.mybatis.OffsetLimitInterceptor">
		<property name="dialectClass" value="com.smartken.kia.core.jdbc.dialect.OracleDialect"/>
	</plugin>
</plugins>


<!--  
<environments default="development">
<environment id="kia">
<transactionManager type="JDBC"/>
<dataSource type="POOLED">
<property name="driver" value="com.mysql.jdbc.Driver"/>
<property name="url" value="jdbc:mysql://localhost:3306/kia"/>
<property name="username" value="root"/>
<property name="password" value="sa"/>
</dataSource>
</environment>
</environments>
-->
 
<mappers>
<mapper resource="com/smartken/kia/mapper/admin/oracle/IMenuMapper.xml"/>
</mappers>

</configuration>