<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="booksystem" connectionString="server=localhost;user id=smartken;password=sa;database=booksystem;Charset=utf8" />
    <add name="BookSystem.Properties.Settings.booksystemConnectionString"
      connectionString="server=localhost;user id=root;persist security info=True;database=booksystem"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>