/* CSS Document */
a:link{text-decoration:none;}
a:hover,a:focus{color:#ff9933;}
.font1{color:#FFFFFF;}
.font2{color:#4A4A4A;}
.bg1{background-color:#4A4A4A;}
.bg2{background-color:#989898;}


