<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	     http://www.springframework.org/schema/beans 
	     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	     http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/jdbc 
         http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		">


   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
        <property name="locations"> 
          <list> 
            <value>WEB-INF/system.properties</value> 
            </list> 
         </property> 
   </bean>
 <!--    
   <bean id="baseFpClient" class="com.smartken.kia.util.trustlink.FpClient" abstract="true">
      <property name="hostName" value="${fp.hostName}"></property>
      <property name="authenID" value="${fp.authenID}"></property>
      <property name="authenPwd" value="${fp.authenPwd}"></property>
      <property name="deviceType" value="${fp.deviceType}"></property>
      <property name="ocxClassName" value="${fp.ocxClassName}"></property>
      <property name="ocxEnrollClassID" value="${fp.ocxEnrollClassID}"></property>
      <property name="ocxVerifyClassID" value="${fp.ocxVerifyClassID}"></property>
      <property name="port" value="${fp.port}"></property>
      <property name="productID" value="${fp.productID}"></property>
   </bean>
  


	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="autoCommitOnClose" value="true"/>
		<property name="checkoutTimeout" value="${cpool.checkoutTimeout}"/>
		<property name="initialPoolSize" value="${cpool.minPoolSize}"/>
		<property name="minPoolSize" value="${cpool.minPoolSize}"/>
		<property name="maxPoolSize" value="${cpool.maxPoolSize}"/>
		<property name="maxIdleTime" value="${cpool.maxIdleTime}"/>
		<property name="acquireIncrement" value="${cpool.acquireIncrement}"/>
		<property name="maxIdleTimeExcessConnections" value="${cpool.maxIdleTimeExcessConnections}"/>
	</bean>
 -->
 
 <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
   <property name="jndiName" value="${jndi.oradrvde}"></property>
 </bean>    

<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
       <property name="dataSource" ref="dataSource"></property>
       <property name="configLocation" value="classpath:com/smartken/kia/mapper/mybatis3-kia.xml"></property>
       
</bean>


 
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED"/>
			<tx:method name="remove*" propagation="REQUIRED"/>			
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution(* com.smartken.kia.biz.impl.*.*(..))" id="kiaMehtod"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="kiaMehtod" />
		
	</aop:config>



 <bean id="baseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" abstract="true" >
     <property name="sqlSessionFactory" ref="sqlSessionFactory" />
   </bean>

<bean id="menuMapper" parent="baseMapper">
    <property name="mapperInterface" value="com.smartken.kia.mapper.sys.IMenuMapper"></property>
</bean>
<bean id="userMapper" parent="baseMapper">
    <property name="mapperInterface" value="com.smartken.kia.mapper.sys.IUserMapper"></property>
</bean>


 
 

<bean class="com.smartken.kia.biz.impl.SysBiz" id="baseSysBiz" abstract="true" >
 <property name="iMenuMapper" ref="menuMapper"></property>
 <property name="iUserMapper" ref="userMapper"></property>
</bean>


<bean id="actionSysBiz" parent="baseSysBiz"></bean>

<bean id="com.smartken.kia.web.action.sys.MenuAction" 
      class="com.smartken.kia.web.action.sys.MenuAction">
   <property name="iSysBiz" ref="actionSysBiz"></property>
</bean>



</beans>