<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smartken.kia.mapper.sys.IMenuTreeNodeMapper">

<cache flushInterval="30000" readOnly="true"></cache>

<sql id="table">sys_menu</sql>
<sql id="pk">id</sql>
<sql id="likeCol">name</sql>
<sql id="colums">id,name,descp,url,parma,icon,parent_id,token </sql>
<sql id="insertCols">#{id},#{name},#{descp},#{url},#{parma},#{icon},#{parentId},#{token}</sql>
<sql id="updateCols">
     name=#{name},
     descp=#{descp},
     parma=#{parma},
     icon=#{icon},
     parent_id=#{parentId},
     url=#{url},
     token=#{token}
</sql>
<sql id="orderby">token</sql>

<resultMap type="MenuModel" id="resultMap">
   <result property="id"  column="id"/>
   <result property="name" column="name"/>
   <result property="descp" column="descp"  />
   <result property="url" column="url" />
   <result property="parma" column="parma" />
   <result property="icon" column="icon"/>
   <result property="parentId" column="parent_id"/>
   <result property="token" column="token"/>
</resultMap>

<select id="selectEqPk" parameterType="String" resultType="MenuModel" resultMap="resultMap">
  select <include refid="colums"/> from <include refid="table"/> where <include refid="pk" /> = #{pObjPk}
</select>



<select id="selectInPk" resultType="MenuModel"  resultMap="resultMap">
   select <include refid="colums"/> from <include refid="table"/> where <include refid="pk" /> in
   <foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach> 
</select>

<select id="selectNotInPk" resultType="MenuModel"  resultMap="resultMap">
   select <include refid="colums"/> 
    from <include refid="table"/>
   where <include refid="pk" /> not in
   <foreach item="pk" collection="list" open="(" separator="," close=")">
      #{pk}
   </foreach> 
</select>

<select  id="selectAll"  resultType="ArrayList" resultMap="resultMap">
  select <include refid="colums"/> 
  from <include refid="table"/> 
  <include refid="orderby"/>
</select>

<insert id="insertOne"   parameterType="MenuModel">
   insert into <include refid="table"/> 
     ( <include refid="colums"/> ) values
     ( <include refid="insertCols"/>) 
</insert>

<update id="updateOne" flushCache="true"  parameterType="MenuModel">
  update <include refid="table"/> set 
       <include refid="updateCols"/>
       where <include refid="pk" />=#{id}
</update>

<delete id="deleteInPk" flushCache="true">
   delete from <include refid="table"/> 
   where <include refid="pk" /> in
   <foreach item="pk" collection="list" open="(" separator="," close=")">
      #{pk}
   </foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
   delete from <include refid="table"/> 
   where <include refid="pk" /> not in
   <foreach item="pk" collection="list" open="(" separator="," close=")">
      #{pk}
   </foreach>
</delete>





<select id="selectInToken" resultType="MenuModel"  resultMap="resultMap">
   select <include refid="colums"/> 
    from <include refid="table"/>
   where token in
   <foreach item="pk" collection="list" open="(" separator="," close=")">
      #{pk}
   </foreach> 
</select>


</mapper>